<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bbsIndex</title>

    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/page/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/page/commonHeader.css" rel="stylesheet" type="text/css">
    <link href="/css/page/commonFooter.css" rel="stylesheet" type="text/css">
    <link href="/css/page/bbsIndex.css" rel="stylesheet" type="text/css">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" id="nav_top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" id="img_a">
                <img src="/image/base/logov1.png" id="img_wh">
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left" id="nav_left">
                <li id="navli1"><a href="/project">找项目</a></li>
                <li id="navli2"><a href="../../view/page/team.html">找团队</a></li>
                <li id="navli3"><a href="../../view/page/talent.html">找人才</a></li>
            </ul>

            <form class="navbar-form navbar-right">
                <div class="input-group">
                    <input type="text" class="form-control searchArea" id="searchArea" placeholder="搜索项目，大牛">
                    <span class="input-group-btn">
                        <button class="btn searchButton" id="searchButton" type="button">GO</button>
                    </span>
                    <dl class="searchResult" id="searchResult">
                    </dl>
                </div>
                <!-- /input-group -->
            </form>

        </div>
    </div>
</nav>

<div class="container">

    <div class="row">

    </div><!-- /.row -->

</div><!-- /.container -->



<footer class="co-footer">
    <p compay>@ company <a href="/">Math Us</a></p>
    <p><a href="#">Back to top</a></p>
</footer>


<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="/js/page/commonHeader.js"></script>

</body>
</html>