<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</div>
<form method="post" action="/project/release">
    <div>项目名称：
        <input type='text' id='proName' name="proName" required autofocus>
    </div>
    <div>项目简介：
        <input id='proDetail' name="proDetail">
    </div>
    <div>项目分类：
        <input id='proCategory' name="proCategory">
    </div>
    <div>项目报酬：
        <input id='proReward' name="proReward">
    </div>
    <div>项目标签：
        <input id='proTag' name="proTag">
    </div>
    <div>项目地区：
        <input id='proLoc' name="proLoc">
    </div>
    <div>电话：
        <input id='proTel' name="proTel">
    </div>
    <div>邮箱：
        <input id='proEmail' name="proEmail">
    </div>
    <div>
        <button type="submit">确认</button>
    </div>
</form>
</body>
</html>