<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sticky notes using CSS3 and Google Fonts (Step 5)</title>
    <link href="../../css/page/stickyNotes.css" rel="stylesheet" type="text/css">
</head>
<body>

<ul>
    <li>
        <a href="#">
            <p>Text Content #1</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Text Content #2</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Text Content #3</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Text Content #4</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Text Content #5</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Text Content #6</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Text Content #2</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Text Content #7</p>
        </a>
    </li>
    <li>
        <a href="#">
            <p>Text Content #8</p>
        </a>
    </li>
</ul>
</body>
</html>