.writer {
    text-align: center;
    max-width: 180px;
    background: #eff4fb;
    border: 1px solid #a9cbee;
}

.container{
    padding-top: 80px;
    padding-bottom: 50px;
}

.bbs_block{
    background: #fff;
    margin-top: 20px;
    margin-right: 20px;

    padding-left: 15px;
    padding-right: 15px;
}

.blockShadow{
    box-shadow: 0 2px 5px rgba(1,1,1,0.3);
}

.listItem {
    border-bottom: solid 1px #edf0f2;
    padding: 30px 0 30px 10px;
    font-size: 12px;

    display: list-item;
    text-align: -webkit-match-parent;
}

.bbsTitle{
    font-size: 18px;
    font-weight: bold;
}

.moreInfo{
    text-align: center;
    cursor: pointer;
}

.moreInfo:hover{
    color: #be3a48;
}

.user-pic {
    width: 120px;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
    border-right: 1px solid #a9cbee;
}


.user-pic img {
    border:#eee 3px solid;
    height: 80px;
    width: 80px;
}

.user-pic p {
    line-height: 16px;
}

.user-name{
    padding-top: 10px;
}

.sex{
    padding-left: 5px;
    color: #28a4c9;
}

.Info{
    float: left;
    width: 82%;
}

.tip{
    font-weight: bold;
    color: #286090;
}

.textInfo{
    padding-left: 5%;
}

.date{
    position: relative;
    text-align: right;
    padding-top: 9px;
}

.replyBtn{
    cursor: pointer;
    margin-left: 10px;
}

.replyList{
    width: 80%;
    /*position: relative;*/
    /*right: 0;*/
    /*margin-right: 0;*/
    float: right;
    /*border:1px solid #ccc;*/
}

.replyItem {
    border-bottom: solid 1px #edf0f2;
    padding: 20px 0 20px 10px;
    font-size: 12px;

    display: list-item;
    text-align: -webkit-match-parent;
}

.replyPic{
    width: 50px;
    float: left;
}

.replyInfo{
    float: left;
    padding-left: 10px;
    width: 85%;
}

.replyInfo>a{
    color: #2b669a;
}

.replyDate{
    position: relative;
    text-align: right;
    padding-top: 9px;
}

.replyPic>a{
    padding-left: 10px;
}

.replyPic>a>img{
    max-height: 40px;
    border:#eee 3px solid;
}

.replyPic>p{

}

.pos {
    margin-left: 8%;
}

.bbs_header{
     *background-color: #c4e6f5;
 }

.replyArea{
    margin-top: 50px;
}

.replyArea>textarea{
    margin: 0 auto;
    max-width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 0;
}

.replyItem>textarea{
    margin: 0 auto;
    max-width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
}

.replyItem>button{
    background-color: #a1d9f2;
    border-radius: 2px;
    padding-right: 20px;
    padding-left: 20px;

    position: relative;
    left: 80%;
}

.rebtn{
    background-color: #a1d9f2;
    border-radius: 2px;
    padding-right: 20px;
    padding-left: 20px;

    position: relative;
    left: 70%;
}