/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}


/******jumbotron*******/
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}


/*******projects********/
.projects-index li{
    position: relative;
    float: left;
    width: 265px;
    margin: 10px;
    height: 240px;
    background: #f7faf9;
    background: #f7faf9\0/;
    border-bottom: 2px solid #f7faf9\0/;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 1px 2px #c5c5c5;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}

.projects-img{
    position: relative;
    height: 160px;
    overflow: hidden;
}

.projects-img img{
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    line-height: 1em;
}

.projects-index li:hover{
    border-bottom: 2px solid #dae0e5\0/;
    box-shadow: 0 2px 8px #bbb;
}

.projects-index li:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.projects-info,
.projects-subinfo{
    position: absolute;
    top: 160px;
    left:0;
    right: 0;
    padding: 0 14px;
    height: 78px;
    background:#fff;
    *background:#f7faf9;
    font-size:12px;
    transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    -o-transition:.3s;
    z-index: 9;
}

.projects-info{
    opacity: 0;
    z-index: 10;
    *display:none;
}

.projects-info span,
.projects-subinfo span{
    color:#b4bbbf;
}

.projects-subinfo h2{
    color:#363d40;
    line-height:50px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align:center;
    font-size: 14px;
}

.projects-info p{
    padding-top:10px;
    height:40px;
    line-height:20px;
    overflow: hidden;
}

.projects-index li:hover .projects-info{
    color:#656e73;
    opacity:1;
    display:block;
    *display:block;
}

.projects-index li:hover{
    bottom: 0;
}

/*********projects-headeer************/
.projects-header{
    width:60%;
    text-align:center;
    margin:60px 0 10px;
    font-weight:200;
    margin-bottom:40px;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.projects-header h2{
    font-size:30px;
    letter-spacing:-1px
}

@media screen and (min-width:768px){
    .projects-header h2{
        font-size:42px
    }
}


/*********topbanner**********/
.topbanner{
    *margin-top: 50px;
    position: relative;
    height: 600px;
    overflow: hidden;
}

.topbanner .topbanner_img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center 0;
}


.co-footer {
    position: relative;
    bottom: 0;
    padding: 20px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.co-footer p:last-child {
    margin-bottom: 0;
}