
body {
    background: #fff;
    color: #5e5e5e;
    font: 14px/2em Microsoft YaHei, SimSun, Arial;
}

ul {
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

#select_option {
    margin-left: 5%;
}

.select_line_text {
    font-size: x-large;
}

/*******project********/
.projects-index li {
    position: relative;
    float: left;
    width: 250px;
    margin: 10px;
    height: 240px;
    background: #f7faf9;
    background: #f7faf9 \0/;
    border-bottom: 2px solid #f7faf9 \0/;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 1px 2px #c5c5c5;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}

.projects-index li:hover {
    border-bottom: 2px solid #dae0e5 \0/;
    box-shadow: 0 2px 8px #bbb;
    bottom: 0;
}

.projects-index li:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.projects-index li:hover .projects-info {
    color: #656e73;
    opacity: 1;
    display: block;
    *display: block;
}

.projects-img {
    position: relative;
    height: 160px;
    overflow: hidden;
}

.projects-img img {
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    line-height: 1em;
}

.projects-info,
.projects-subinfo {
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    padding: 0 14px;
    height: 78px;
    background: #fff;
    *background: #f7faf9;
    font-size: 12px;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    z-index: 9;
}

.projects-info {
    opacity: 0;
    z-index: 10;
    *display: none;
}

.projects-info span,
.projects-subinfo span {
    color: #b4bbbf;
}

.projects-subinfo h2 {
    color: #363d40;
    line-height: 15px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 14px;
}

.projects-info p {
    font-size: small;
    padding-top: 10px;
    text-align: center;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}