.container{
    padding-top: 80px;
    padding-bottom: 50px;
}

.blockShadow{
     box-shadow: 0 2px 5px rgba(1,1,1,0.3);
 }

.listItem {
    border-bottom: solid 1px #edf0f2;
    padding: 30px 0 30px 20px;
    font-size: 12px;

    display: list-item;
    text-align: -webkit-match-parent;
}

.searchType,.moreInfo{
    font-size: 16px;
}

.moreInfo{
    text-align: center;
    cursor: pointer;
}

.moreInfo:hover{
    color: #be3a48;
}

.user-pic {
    width: 120px;
    text-align: center;
    padding-top: 10px;
    float: left;
}

.user-pic img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.user-pic p {
    line-height: 16px;
}

.user-name{
    padding-top: 10px;
}

.sex{
    padding-left: 5px;
    color: #28a4c9;
}

.Info{
    float: left;
}

.tip{
    font-weight: bold;
    color: #286090;
}

.schoolInfo,.selfIntro,.skillInfo,.projectInfo{
    padding-left: 20px;
}

.project_info,.bbs_block{
    margin-top: 50px;
}

.projectPicture{
    float: left;
}

.projectPicture >img{
    width: 180px;
    padding-top: 10px;
}

.projectIntro{
    padding-left: 220px;
}

.projectTitle{
    font-size: 22px;
    color: #286090;
}

.projectPublish{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
}

.slider{
    padding-left: 0;
    padding-right: 0;
}

.navItem{
    border-bottom: solid 1px #edf0f2;
    padding: 15px 0 15px 30px;
    font-size: 12px;

    display: list-item;
    text-align: -webkit-match-parent;
    cursor: pointer;
}


/**************post***************/
.user-pic {
    width: 120px;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
    border-right: 1px solid #a9cbee;
}


.user-pic img {
    border:#eee 3px solid;
    height: 80px;
    width: 80px;
}

.user-pic p {
    line-height: 16px;
}

.user-name{
    padding-top: 10px;
}

.sex{
    padding-left: 5px;
    color: #28a4c9;
}

.Info{
    float: left;
    width: 82%;
}

.tip{
    font-weight: bold;
    color: #286090;
}

.infoTitle{
    padding-left: 5%;
    font-size: 16px;
    font-weight: bold;
}

.infoTitle>a{
    color: #337ab7;
}

.setTop{
    color: #d20104 !important;
}

.infoIntro{
    padding-left: 5%;
}

.date{
    position: relative;
    text-align: right;
    padding-top: 9px;
}
