.container {
  padding-top: 70px;
}

.wrapped-boxes {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.settings-left div {
  display: block;
  border-bottom: 1px solid #e6e8e9;
  text-decoration: none;
  vertical-align: middle;
  height: 60px;
  line-height: 60px;
  padding-left: 45px;
  cursor: hand;
}

.settings-left .active div {
  border-left: 2px solid #be3948;
}

.settings-right {
  padding: 30px 160px 100px;
  margin-bottom: 100px;
}

.settings-right .row {
  height: 70px;
}
