.container {
  padding-top: 70px;
}

.wrapped-boxes {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.settings-left div {
  display: block;
  border-bottom: 1px solid #e6e8e9;
  text-decoration: none;
  vertical-align: middle;
  height: 60px;
  line-height: 60px;
  padding-left: 45px;
  cursor: hand;
}

.settings-left .active div {
  border-left: 2px solid #be3948;
}

.settings-right {
  padding: 30px 160px 100px;
  margin-bottom: 100px;
}

.settings-right .row {
  height: 70px;
}

.avator-btn-wrap{position: relative;margin-top: 10px; height: 30px;overflow: hidden;}
.avator-btn-wrap input{position: absolute;top:-3px;right: -3px;font-size:50px;background:none;filter:alpha(opacity=0);opacity:0;cursor:pointer;}


.avator-btn-group{position:relative;height: 220px;margin-left: 260px;width: 220px;}
.avator-btn-inner{position: absolute;bottom: 0;left: 0;right: 0;}
.avator-btn-inner .avator-btn-wrap{height: 40px;margin: 0; text-align: center;background-color: darkgray;}
.avator-btn-inner .avator-btn-fake:link{height: 40px;line-height: 40px;}
