@charset "UTF-8";
fieldset, img {
    border: 0;
}

:focus {
    outline: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}

body {
    background: #fff;
    color: #5e5e5e;
    font: 14px/2em Microsoft YaHei, SimSun, Arial;
}

ol, ul {
    list-style: none;
}

:link, :visited, ins {
    text-decoration: none;
}

a:link, a:visited {
    color: #5e5e5e;
}

a:hover {
    color: #c9394a;
}

a:active {
    color: #666;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.l {
    float: left;
}

.body_container {
    margin: 0 auto;
}

.body_container {
    width: 1200px;
}

#main {
    min-height: 750px;
    padding: 50px 0;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.project-list li {
    background: #fff;
    background: #f7faf9 \0/;
    *background: #f7faf9;
    border-bottom: 2px solid #f7faf9 \0/;
    *border-bottom: 2px solid #f7faf9;
    border-radius: 0 0 1px 1px;
    float: left;
    height: 250px;
    padding: 20px 20px 0;
    position: relative;
    -moz-transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    width: 200px !important;
    margin: 0 40px 8px 0px;
}

.project-list li .tips {
    font-size: 12px;
    color: #b4bbbf;
}

.project-list li:hover,
.project-list li.hover {
    border-bottom: 2px solid #dae0e5 \0/;
    *border-bottom: 2px solid #dae0e5;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-list li:hover span,
.project-list li.hover span {
    bottom: 0px;
    *display: block;
}

.project-list {
    padding-left: 0;
    padding-right: 0;
}

.project-list ul {
    margin: 0 -20px 0 -60px;
}

.project-list li .tips {
    margin: 0;
    padding: 0;
}

.project-list .tips p {
    margin: 8px 0;
}

.project-list .tips span {
    color: #787d82;
}

.space-main {
    width: 860px;
    margin-left: 90px;
}

.main-bd {
    margin-top: 10px;
}

.family {
    margin: 15px 0 17px;
}

.family .family-hd {
    font-size: 18px;
    color: #000;
}

.course-tool-bar {
    position: relative;
    margin-top: -1px;
    padding-right: 15px;
    height: 40px;
    background-color: #f9f9f9;
    border-top: 1px solid #d0d6d9;
    font-size: 12px;
}

.course-tool-bar .tool-left > a {
    margin: 0 20px;
    line-height: 40px;
    color: #787d82;
    position: relative;
}

.course-tool-bar .tool-left > a:hover {
    color: #14191e;
}

.course-tool-bar .tool-left > a.active {
    color: #14191e;
}

.course-tool-bar .tool-item {
    display: inline-block;
    line-height: 40px;
    margin: 0 8px;
    vertical-align: middle;
}

.course-tool-bar .total-num {
    display: none;
    color: #b4b9be;
}

.course-tool-bar .tool-chk:hover {
    color: #f01400;
}

.course-tool-bar .tool-pager {
    position: relative;
}

.sider {
    float: left;
    width: 220px;
    overflow: auto;
    margin-top: 20px;
    padding-bottom: 100px;
}

.user-info {
    padding-left: 100px;
    position: relative;
    min-height: 80px;
    text-align: left;
    overflow: hidden;
}

.user-info .user-pic {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;
    border-radius: 40px;
    overflow: hidden;
}

.user-info img {
    display: block;
    width: 100%;
    height: 100%;
}

.user-info .user-lay {
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-info .user-lay .user-name {
    font-size: 18px;
    font-weight: bold;
    color: #14191e;
    line-height: 24px;
    display: block;
    word-break: normal;
    word-wrap: break-word;
}

.user-info .user-lay .user-site {
    margin: 2px 0 10px;
    color: #787d82;
    display: inline-block;
    font-size: 12px;
}

.user-info .user-lay .iron {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 4px;
}

.user-info .user-lay .user-setup {
    color: #b5b9bc;
    font-size: 12px;
}

.user-info .user-lay .user-setup:hover {
    color: #f01400;
}

.left_nav {
    margin-top: 20px;
    border-top: 1px solid #edf1f2;
}

.left_nav li {
    height: 60px;
    border-bottom: 1px solid #edf1f2;
    position: relative;
    padding-left: 31px;
}

.left_nav a {
    line-height: 60px;
    color: #14191e;
    font-size: 14px;
    font-weight: bold;
}

.left_nav a:hover,
.left_nav a.active {
    color: #f01400;
}

.left_nav .got-num {
    font-size: 12px;
    padding-left: 5px;
}

.project-list ul {
    margin: 0 -60px 0 -20px;
}

.main-bd .three-colum li {
    margin: 0 -7px;
}

.myspace-courselist {
    width: 860px;
}

.course-list-m ul {
    margin-left: 10px;
}

.course-list-m li {
    margin-left: -10px;
}

.course-list-m li:hover {
    z-index: 220;
}

.study-tl {
    padding: 12px 0 0 64px;
}

.study-tl .tl-item {
    position: relative;
    padding-left: 15px;
    border-left: 1px solid #d0d6d9;
}

.study-tl .tl-item .time {
    position: absolute;
    left: 0;
    top: 20px;
    margin-left: -64px;
    line-height: 16px;
    font-size: 12px;
    color: #8a8c8f;
}

.study-tl .tl-item .time b {
    font-size: 18px;
    font-weight: normal;
}

.study-tl .tl-item .time em {
    display: block;
    margin-top: 1px;
}

.study-tl .tl-item .time::before {
    content: '';
    display: block;
    position: absolute;
    left: 60px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d0d6d9;
}

.study-tl .tl-item-first:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    left: -1px;
    top: 0;
    background-color: white;
}

.study-tl .tl-item-last:before {
    content: '';
    display: block;
    position: absolute;
    left: 60px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d0d6d9;
    left: -4px;
    bottom: 0;
}