.select_text {
    color: black;
    font-size: larger;
}

.select_title {
    color: black;
    font-size: x-large;
}

#select_option_div {
    margin-left: 5%;
}

#select_title_div {

}

#select_detail_div {
}

#select_content_div {

}

#body {

}

#header {

}

#footer {

}