<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <script type="text/javascript" src="js/page/home.js"></script>
</head>
<body>

<div id="header">
    <!--common header-->
</div>

<div id="home_img_div">
</div>

<div id="hot_div">
    <div id="hot_projet">
        <h1>热门项目</h1>
        <table>
            <tr>
                <td class="hot_project_option">
                    <a href="#"><img src="#">项目二</a>
                </td>

                <td class="hot_project_option">
                    <a href="#"><img src="#">项目二</a>
                </td>

                <td class="hot_project_option">
                    <a href="#"><img src="#">项目三</a>
                </td>

                <td class="hot_project_option">
                    <a href="#"><img src="#">项目四</a>
                </td>
            </tr>
            <tr>
                <td class="hot_project_option">
                    <a href="#"><img src="#">项目五</a>
                </td>

                <td class="hot_project_option">
                    <a href="#"><img src="#">项目六</a>
                </td>

                <td class="hot_project_option">
                    <a href="#"><img src="#">项目七</a>
                </td>

                <td class="hot_project_option">
                    <a href="#"><img src="#">项目八</a>
                </td>
            </tr>
        </table>
    </div>
    <div>

    </div>
    <div id="hot_team">
        <h1>热门人才</h1>
        <table>
            <tr>
                <td class="hot_team_option">
                    <a href="#"><img src="#">人员二</a>
                </td>

                <td class="hot_team_option">
                    <a href="#"><img src="#">人员二</a>
                </td>

                <td class="hot_team_option">
                    <a href="#"><img src="#">人员三</a>
                </td>

                <td class="hot_team_option">
                    <a href="#"><img src="#">人员四</a>
                </td>
            </tr>
            <tr>
                <td class="hot_team_option">
                    <a href="#"><img src="#">人员五</a>
                </td>

                <td class="hot_team_option">
                    <a href="#"><img src="#">人员六</a>
                </td>

                <td class="hot_team_option">
                    <a href="#"><img src="#">人员七</a>
                </td>

                <td class="hot_team_option">
                    <a href="#"><img src="#">人员八</a>
                </td>
            </tr>
        </table>
    </div>

    <div>

    </div>
    <div id="hot_talent">

    </div>
</div>
</body>
</html>