<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="CSTO全球最大的软件外包和项目交易网，涵盖网站建设，网站制作，嵌入式系统，ios应用，安卓软件开发，UI设计等IT外包项目。"/>
    <meta name="keywords" content="项目外包，软件外包，网站建设，嵌入式系统，网站制作，安卓软件开发，it外包，ios应用，UI设计"/>
    <link rel="icon" href="http://csdnimg.cn/public/favicon-g.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="http://csdnimg.cn/public/favicon-g.ico" type="image/x-icon"/>
    <link rel="Bookmark" href="http://csdnimg.cn/public/favicon-g.ico" type="image/x-icon"/>
    <title>找项目 | CSTO-全球最大的中文软件外包和项目交易平台S</title>
    <link href="http://www.csto.com/css/content.css?3.0" rel="stylesheet" type="text/css"/>
    <link href="http://www.csto.com/css/form.css?3.0" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        var site_url = "http://www.csto.com/";
        var is_logged = false;
    </script>
    <script type="text/javascript" src="http://www.csto.com/js/jquery.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/jquery_extend.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/rails.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/jquery.form.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/jquery_time_min.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/Validform.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/gem-application/app-host.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/city_list.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/csto.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/home.js?3.0"></script>
    <script type="text/javascript" src="http://www.csto.com/js/login.js?3.0"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?67fed6c225de3f90d9f513aed5a91532";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33350846-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>
<div class="header_logout">
    <div class="header">
        <div class="dl">
            <div class="dd" id="logo"><a href="http://www.csto.com/home" title="返回CSTO首页"></a></div>
            <div class="dd">
                <ul class="menu_logout">
                    <li><a href="http://www.csto.com/member">找人才</a></li>
                    <li class="selected"><a href="http://www.csto.com/project/list">找项目</a></li>
                    <li><a href="http://www.csto.com/case">案例库</a></li>
                    <li><a href="javascript:void(0);" onclick="login_csdn('http://www.csto.com/my')">我的T台</a></li>
                    <li><a href="http://www.csto.com/info">资讯</a></li>
                </ul>
            </div>
            <div class="dd">
                <form id="Search" method="post" action="http://www.csto.com/project/list">
                    <select name="xm">
                        <option value="1">找项目</option>
                        <option value="2">找人才</option>
                        <option value="3">找案例</option>
                    </select>
                    <input type="text" id="" name="key" value=""/>
                    <input type="submit" value=""/>
                </form>
            </div>
            <div class="dd user_info">
                <span id="user_login">
                    <a href="https://passport.csdn.net/open/csto_reg?from=http://www.csto.com">注册</a>/
                    <a href="http://www.csto.com/login">登录</a>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#Search select").not("select:disabled").sSelect();
        $("#Search").addClass("Default");
        var key = '';
        if (key == '')
            $("#Search input[type='text']").val("请输入关键字");
        $("#Search input[type='text']").focus(function () {
            $("#Search").removeClass("Default").addClass("Focus");
            if ($(this).val() == '请输入关键字')
                $("#Search input[type='text']").val("");
        });
        $("#Search input[type='text']").blur(function () {
            $("#Search").removeClass("Focus").addClass("Default");
            if ($(this).val() == "") {
                $(this).val("请输入关键字");
            }
        });
        $("#Search").submit(function () {
            if ($("#Search input[type='text']").val() == "" || $("#Search input[type='text']").val() == "请输入关键字") {
                alert("你让我查点什么好呢~ \n对了，今天天气不错");
                return false;
            }
        });

        $(".menu a").each(function () {
            var urlLength = site_url.toString().length;
            var navUrl = encodeURI($(this).attr('href').substring(urlLength)).toLowerCase();
            if (window.location.href.toLowerCase().indexOf(navUrl) > 0) {
                $(this).parents('li').addClass("selected").prevAll('li').removeClass("selected");
            }
        });
        $("#left").css("min-height", $("#right").height());
    });
</script>

<div class="wrap">
    <div id="Location"><span><a href="http://www.csto.com/project/list">找项目</a></span></div>
    <div class="select_item" getres_name="s">
        <div class="select_box">
            <h2>筛选条件：</h2>

            <div class="classes single realm_set">
                <h3>热门分类</h3>

                <div class="hover_area">
                    <div class="hover_show">
                        <div class="list">
                            <h4 s_name="tag1_1">移动应用开发</h4>
                            <ul id="sub_01">
                                <li><a href="javascript:void(0)" s_name="type_7">Android</a></li>
                                <li><a href="javascript:void(0)" s_name="type_6">iOS</a></li>
                                <li><a href="javascript:void(0)" s_name="type_31">其他移动平台</a></li>
                                <li><a href="javascript:void(0)" s_name="type_36">iPad</a></li>
                                <li><a href="javascript:void(0)" s_name="type_8">Windows Phone</a></li>
                                <li><a href="javascript:void(0)" s_name="type_37">Symbian</a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_2">网站建设</h4>
                            <ul id="sub_02">
                                <li><a href="javascript:void(0)" s_name="type_10">网站开发</a></li>
                                <li><a href="javascript:void(0)" s_name="type_38">电子商务</a></li>
                                <li><a href="javascript:void(0)" s_name="type_15">数据库</a></li>
                                <li><a href="javascript:void(0)" s_name="type_9">网站前端开发</a></li>
                                <li><a href="javascript:void(0)" s_name="type_13">开放平台</a></li>
                                <li><a href="javascript:void(0)" s_name="type_7575">微信</a></li>
                                <li><a href="javascript:void(0)" s_name="type_12">网站运维</a></li>
                                <li><a href="javascript:void(0)" s_name="type_40">网页游戏</a></li>
                                <li><a href="javascript:void(0)" s_name="type_39">网站测试</a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_3">软件开发</h4>
                            <ul id="sub_03">
                                <li><a href="javascript:void(0)" s_name="type_21">企业软件</a></li>
                                <li><a href="javascript:void(0)" s_name="type_35">系统开发</a></li>
                                <li><a href="javascript:void(0)" s_name="type_16">桌面软件</a></li>
                                <li><a href="javascript:void(0)" s_name="type_19">嵌入式</a></li>
                                <li><a href="javascript:void(0)" s_name="type_34">应用程序及脚本</a></li>
                                <li><a href="javascript:void(0)" s_name="type_18">网络软件</a></li>
                                <li><a href="javascript:void(0)" s_name="type_22">算法</a></li>
                                <li><a href="javascript:void(0)" s_name="type_41">办公自动化 OA</a></li>
                                <li><a href="javascript:void(0)" s_name="type_20">多媒体软件</a></li>
                                <li><a href="javascript:void(0)" s_name="type_17">游戏软件</a></li>
                                <li><a href="javascript:void(0)" s_name="type_30">软件测试</a></li>
                                <li><a href="javascript:void(0)" s_name="type_2122">金蝶ERP</a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_4">设计</h4>
                            <ul id="sub_04">
                                <li><a href="javascript:void(0)" s_name="type_24">网站设计 UI/UE</a></li>
                                <li><a href="javascript:void(0)" s_name="type_42">软件界面设计</a></li>
                                <li><a href="javascript:void(0)" s_name="type_26">Flash动画</a></li>
                                <li><a href="javascript:void(0)" s_name="type_45">3D建模及CAD</a></li>
                                <li><a href="javascript:void(0)" s_name="type_23">平面设计</a></li>
                                <li><a href="javascript:void(0)" s_name="type_44">图片处理</a></li>
                                <li><a href="javascript:void(0)" s_name="type_43">图标设计 Logo</a></li>
                                <li><a href="javascript:void(0)" s_name="type_27">多媒体制作</a></li>
                                <li><a href="javascript:void(0)" s_name="type_46">插画动漫</a></li>
                                <li><a href="javascript:void(0)" s_name="type_47">网店模版设计</a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_5">其他</h4>
                            <ul id="sub_05">
                                <li><a href="javascript:void(0)" s_name="type_33">未归类</a></li>
                                <li><a href="javascript:void(0)" s_name="type_32">需求分析</a></li>
                                <li><a href="javascript:void(0)" s_name="type_28">网络推广和营销</a></li>
                                <li><a href="javascript:void(0)" s_name="type_50">数据录入</a></li>
                                <li><a href="javascript:void(0)" s_name="type_48">搜索引擎优化 SEO</a></li>
                                <li><a href="javascript:void(0)" s_name="type_29">翻译</a></li>
                                <li><a href="javascript:void(0)" s_name="type_49">网络调研</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="hot_classes">
                    <a href="javascript:void(0)" s_name="type_10">网站开发</a> <a href="javascript:void(0)" s_name="type_7">Android</a>
                    <a href="javascript:void(0)" s_name="type_21">企业软件</a> <a href="javascript:void(0)"
                                                                              s_name="type_35">系统开发</a> <a
                        href="javascript:void(0)" s_name="type_16">桌面软件</a> <a href="javascript:void(0)"
                                                                               s_name="type_6">iOS</a> <a
                        href="javascript:void(0)" s_name="type_34">应用程序及脚本</a> <a href="javascript:void(0)"
                                                                                  s_name="type_19">嵌入式</a></div>
            </div>
            <div class="classes multiple technology_set">
                <h3>热门技术</h3>

                <div class="hover_area">
                    <div class='hover_show'>
                        <div class="list">
                            <h4 s_name="tag1_103">
                                设计与多媒体类 </h4>
                            <ul id="sub_01">
                                <li><a href="javascript:void(0)" s_name="skill_107">
                                    Flash </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_106">
                                    Photoshop </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_108">
                                    UI Design </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_118">
                                    VI </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_117">
                                    Logo </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_111">
                                    3D Max </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_104">
                                    Application Design </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_114">
                                    Illustrator </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_126">
                                    Microsoft Visio </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_115">
                                    Firework </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_110">
                                    Autocad </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_109">
                                    Coreldraw </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_112">
                                    Maya </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_105">
                                    Graphics </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_121">
                                    InDesign </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_119">
                                    FrameMaker </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_128">
                                    Photography </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_124">
                                    FrontPage </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_122">
                                    PremiereCorelDraw </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_113">
                                    Cartoon </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_125">
                                    Macromedia Director </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_123">
                                    Final Cut </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_127">
                                    PageMaker </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_120">
                                    InCopy </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_116">
                                    Freehand </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_129">
                                    Quark XPress </a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_130">
                                移动类 </h4>
                            <ul id="sub_02">
                                <li><a href="javascript:void(0)" s_name="skill_131">
                                    Android </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_132">
                                    iOS </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_138">
                                    Qt </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_133">
                                    Windows Phone </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_142">
                                    J2ME </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_141">
                                    Widget </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_139">
                                    PayPal </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_134">
                                    BlackBerry </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_137">
                                    HP webOS </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_144">
                                    Amazon Kindle </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_135">
                                    三星bada </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_136">
                                    MeeGo </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_143">
                                    Palm </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_140">
                                    天翼 </a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_145">
                                网站与编程 A-D </h4>
                            <ul id="sub_03">
                                <li><a href="javascript:void(0)" s_name="skill_158">
                                    C </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_160">
                                    C++ </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_159">
                                    C# </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_164">
                                    CSS </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_152">
                                    AJAX </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_255">
                                    .net </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_155">
                                    ASP.NET </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_154">
                                    ASP </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_146">
                                    .NET Framework </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_166">
                                    Delphi </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_148">
                                    ADO.NET </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_167">
                                    DHTML </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_153">
                                    Apache Server </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_169">
                                    DotNet </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_147">
                                    ActionScript </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_161">
                                    COM </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_165">
                                    DB2 </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_149">
                                    Adobe Flash CS </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_150">
                                    Adobe Flex </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_151">
                                    Adobe Flex Builder </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_168">
                                    DOS </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_170">
                                    Drupal </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_162">
                                    Compiler Design </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_156">
                                    Atom </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_163">
                                    ConceptShare </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_157">
                                    Box.net </a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_171">
                                网站与编程 E-J </h4>
                            <ul id="sub_04">
                                <li><a href="javascript:void(0)" s_name="skill_184">
                                    Java </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_186">
                                    JavaScript </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_182">
                                    HTML </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_187">
                                    jQuery </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_189">
                                    JSP </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_188">
                                    JSON </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_183">
                                    iPhone </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_176">
                                    ERP </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_185">
                                    Java ME </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_180">
                                    Google Maps API </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_175">
                                    Enterprise Java Beans (EJB) </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_174">
                                    Embedded System </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_179">
                                    Google App Engine </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_173">
                                    Ecommerce </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_181">
                                    Google Web Toolkit </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_178">
                                    Google AdWords API </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_172">
                                    E4X </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_177">
                                    Firewall Concepts </a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_190">
                                网站与编程 K-P </h4>
                            <ul id="sub_05">
                                <li><a href="javascript:void(0)" s_name="skill_200">
                                    MySQL </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_207">
                                    PHP </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_192">
                                    Linux </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_205">
                                    Oracle </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_198">
                                    Microsoft Visual Studio </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_210">
                                    Python </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_202">
                                    Objective-C </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_191">
                                    LAMP </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_194">
                                    Microsoft Access </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_193">
                                    Mac OS X </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_206">
                                    Perl </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_197">
                                    Microsoft Silverlight </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_201">
                                    NetBeans </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_208">
                                    Power Builder </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_196">
                                    Microsoft SharePoint Designer </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_195">
                                    Microsoft Office Live Web Design </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_204">
                                    OpenTok API </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_203">
                                    OpenSocial </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_199">
                                    MooTools </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_209">
                                    ProtoShare </a></li>
                            </ul>
                        </div>
                        <div class="list">
                            <h4 s_name="tag1_211">
                                网站与编程 R-Z </h4>
                            <ul id="sub_06">
                                <li><a href="javascript:void(0)" s_name="skill_217">
                                    SQL </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_218">
                                    SQL Server </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_231">
                                    XML </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_220">
                                    TCP/IP </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_224">
                                    Web Services </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_230">
                                    XHTML </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_223">
                                    Visual Basic </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_228">
                                    Windows Server </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_221">
                                    Unix </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_215">
                                    SOAP </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_225">
                                    WiFi </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_222">
                                    VB.NET </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_229">
                                    WordPress </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_226">
                                    Windows Mobile </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_213">
                                    Ruby </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_212">
                                    RSS </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_214">
                                    Ruby on Rails </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_219">
                                    Symbian C++ </a></li>
                                <li><a href="javascript:void(0)" s_name="skill_216">
                                    Solaris </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="hot_classes">
                    <a href="javascript:void(0)" s_name="skill_158">C</a>
                    <a href="javascript:void(0)" s_name="skill_160">C++</a>
                    <a href="javascript:void(0)" s_name="skill_184">Java</a>
                    <a href="javascript:void(0)" s_name="skill_217">SQL</a>
                    <a href="javascript:void(0)" s_name="skill_207">PHP</a>
                    <a href="javascript:void(0)" s_name="skill_200">MySQL</a>
                    <a href="javascript:void(0)" s_name="skill_154">ASP</a>
                    <a href="javascript:void(0)" s_name="skill_186">JavaScript</a>
                    <a href="javascript:void(0)" s_name="skill_166">Delphi</a>
                    <a href="javascript:void(0)" s_name="skill_131">Android</a>
                    <a href="javascript:void(0)" s_name="skill_107">Flash</a>
                    <a href="javascript:void(0)" s_name="skill_189">JSP</a></div>
            </div>
            <div class="classes single price_set">
                <h3>项目预算</h3>

                <div class="hot_classes"><a href="javascript:void(0)" s_name="price_10">小于1,000</a> <a
                        href="javascript:void(0)" s_name="price_20">1,000-5,000</a> <a href="javascript:void(0)"
                                                                                       s_name="price_30">5,000-10,000</a>
                    <a href="javascript:void(0)" s_name="price_40">10,000-50,000</a> <a href="javascript:void(0)"
                                                                                        s_name="price_50">大于50,000</a>
                </div>
            </div>
        </div>
        <div class="choice_box">
            <strong>已经选择：</strong>

            <div class="choice" id="user_list_choice"></div>
            <span class="btn_gray hide">清空</span>
        </div>

        <script type="text/javascript">
            $(function () {
                $('.sort_box .classes').prepend('<span>更多条件：</span>');
                $('.yicity').attr('title', '点此进一步选择');
                $('.yicity a').each(function () {
                    var _city_txt = $(this).text();
                    $(this).attr('title', '选中' + _city_txt + '全部地区');
                });
                $(".yicity").click(function () {
                    $("#city_all").hide();
                    $("#city_li").show();
                    var html = "";
                    var up_id = $(this).attr("cnum");
                    for (key in eval("city_" + up_id)) {
                        html += '<li><a href="javascript:void(0); " s_name="region_' + up_id + '_' + key + '">' + eval("city_" + up_id)[key] + '</a></li>';
                    }
                    html = '<li><a href="javascript:void(0); " s_name="region_' + up_id + '_0' + '">' + $(this).text() + '</a></li>' + html;
                    html = '<h4><span id="city_back">< 重选省级</span> | ' + $(this).text() + '<i></i></h4><ul>' + html + "</ul>";
                    $("#city_li").html(html);
                });
                $("#city_back").live('click', function () {
                    $("#city_li").hide();
                    $("#city_all").show();
                });
                $('.hover_area').prepend("<span class='more'>more</span>");
                $('.technology_set .list').eq(0).addClass('selected first');
                $('.technology_set .list').hover(function () {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                $('.multiple a').live('click', function () {
                    if (!$(this).hasClass('selected')) { //如果已经选择了，不执行搜索
                        var s_name = $(this).attr('s_name');
                        $('.multiple a[s_name=' + s_name + ']').addClass('selected');
                        var s_value = $(this).html();
                        var html = '<a href="javascript:void(0)" class="skey_del" s_name="' + s_name + '">' + s_value + '</a>';
                        $(".choice").append(html);
                        getres_new(1);
                        $('.choice_box .btn_gray').show();
                    }
                });


                $(".single a").live('click', function () {
                    if (!$(this).hasClass('selected')) { //如果已经选择了，不执行搜索
                        var s_name = $(this).attr('s_name');
                        var old_s_name = $(this).parents('.single').find('a.selected').attr('s_name');
                        $('.single a[s_name=' + old_s_name + ']').removeClass('selected');
                        var _bv = $(this).parents('.region_set').length;
                        if (_bv > 0) {
                            $('.choice a[s_name^=region_]').remove();
                        }
                        $('.choice a[s_name=' + old_s_name + ']').remove();
                        $('.single a[s_name=' + s_name + ']').addClass('selected');
                        var s_value = $(this).html();
                        var html = '<a href="javascript:void(0)" class="skey_del" s_name="' + s_name + '">' + s_value + '</a>';
                        $(".choice").append(html);
                        getres_new(1);
                        $('.choice_box .btn_gray').show();
                    }
                });
                $(".single a.selected,.multiple a.selected").live('click', function () {
                    var s_name = $(this).attr('s_name');
                    $('.single a[s_name=' + s_name + '],.multiple a[s_name=' + s_name + ']').removeClass('selected');
                    $('.choice a[s_name=' + s_name + ']').remove();
                    if ($('#user_list_choice a').length == 0) { //如果选择列为空，隐藏清空按钮
                        $('.choice_box .btn_gray').hide();
                    }
                    getres_new(1);
                });
                $(".skey_del").live('click', function () {
                    var _s_name = $(this).attr('s_name');
                    $('.select_box a[s_name=' + _s_name + ']').removeClass('selected');
                    //针对案例，类型如果是平台，点击之后将平台选项栏复位
                    if (_s_name.substr(0, 9) == 'platform_') {
                        $('#set_platforms b').text('适用平台');
                        $('#set_platforms').nextAll().find('a').removeClass('selected');
                    }
                    $(this).remove();
                    if ($('#user_list_choice a').length == 0) { //如果选择列为空，隐藏清空按钮
                        $('.choice_box .btn_gray').hide();
                    }
                    getres_new(1);
                });
                $('.choice_box .btn_gray').click(function () {
                    $(".choice .skey_del").remove();
                    //针对案例，点击清空之后将平台选项栏复位
                    $('#set_platforms b').text('适用平台');
                    $('#set_platforms').nextAll().find('a').removeClass('selected');

                    $('.select_box a').removeClass('selected');
                    $(this).hide();
                    getres_new(1);
                });
                $('#mark_order a').live('click', function () {
                    var $this = $(this);
                    $('#mark_order a').removeClass('selected');
                    $this.addClass('selected');
                    getres_new(1);
                });
                $('#mark_order a.selected').live('click', function () {
                    $(this).removeClass('selected');
                });
                $('#mark_order button').live('click', function () {
                    getres_new(1);
                });
                $('#mark_order input[type="text"]').focus(function () {
                    if ($(this).val() == '在结果中查找') {
                        $(this).val('');
                    }
                });
                $('#mark_order input[type="text"]').blur(function () {
                    if ($(this).val() == '') {
                        $(this).val('在结果中查找');
                    }
                });
                function getres_new(page) {
                    $("#list_shwores").prepend('<div class="loadingbox" title="数据载入中，请稍后"></div>');
                    $("#list_numshow").html("读取ing");
                    var params = {};
                    var params1 = {}; //侧边栏搜索条件
                    var job_keyword_arr = []; //csdn job搜索关键字数组
                    $("#user_list_choice a").each(function () {
                        var s_name = $(this).attr('s_name');
                        params[s_name] = $.trim($(this).text());
                        var reg = /^(type_|skill_)/;
                        if (reg.test(s_name)) {
                            params1[s_name] = $.trim($(this).text());
                            job_keyword_arr.push($.trim($(this).text()));
                        }
                    });
                    /** job侧边栏  **/
                    if (typeof(job_search_params) != 'undefined') {
                        job_search_params['searchKey'] = job_keyword_arr.join(',');
                        csdn.position.show(job_search_params);
                    }
                    /** job侧边栏  **/
                    $("#mark_order a").each(function () {
                        if ($(this).attr('class') == 'selected') {
                            params['order'] = $(this).attr('s_name');
                        }
                    });
                    var key = $("#mark_order input[type='text']").val();
                    if ((key !== '') && (key !== '在结果中查找')) {
                        params['key'] = key;
                    }
                    params['pg'] = page;
                    var getres_name = $('.select_item').attr('getres_name');
                    $.getJSON(encodeURI(site_url + "ajax/" + getres_name + "?" + $.param(params)), '', function (data) {
                        $('body').stopTime();
                        $("#list_shwores").html(data.list);
                        $("#list_pageshow").html(data.page);
                        $("#list_numshow").html(data.num);
                        $(".search_nums").show();
                        //分页
                        $(".page_nav a").each(function () {
                            $(this).click(function () {
                                var page = $(this).attr('page');
                                getres_new(page);
                            });
                        });
                        setupdjs();
                    });
                    //右边栏数据
                    if (getPropertyCount(params1) > 0) {
                        if (getres_name == 'm' || getres_name == 'c') {
                            var arr = new Array();
                            arr['m'] = 'c';
                            arr['c'] = 'm';
                            var arrb = new Array();
                            arrb['m'] = '案例';
                            arrb['c'] = '人才';

                            $.getJSON(encodeURI(site_url + 'ajax/' + arr[getres_name] + '?' + $.param(params1) + '&sidebar=1'), function (data) {
                                if (data.status) {
                                    $('#ajax_sidebar_content').html('<div class="contbox"><h3>相关' + arrb[getres_name] + '</h3><ul>' + data.content + '</ul></div>');
                                } else {
                                    message_error(data.error);
                                }
                            });
                        }
                    }
                }

                function getPropertyCount(o) {
                    var n, count = 0;
                    for (n in o) {
                        if (o.hasOwnProperty(n)) {
                            count++;
                        }
                    }
                    return count;
                }
            });
        </script>
    </div>
    <div class="left">
        <div class="sort_box">
            <div class="top">
                <div class="classes"><span class="single"> <a href="javascript:void(0)" s_name="state20">竞标中</a> <a
                        href="javascript:void(0)" s_name="state30">已关闭</a> <a href="javascript:void(0)"
                                                                              s_name="state40">工作中</a> <a
                        href="javascript:void(0)" s_name="state50">已完成</a> </span></div>
                <div class="in_result_search" id="mark_order">
                    <input type="text" value="在结果中查找"/>
                    <button class="transition"></button>
                </div>
                <div class="search_nums">相关项目 <dfn><span id="list_numshow">
          49496          </span></dfn>个
                </div>
            </div>
        </div>

        <div id="list_pageshow" class="page_nav"> &nbsp;<strong>1</strong>&nbsp;<a href="/project/list?page=2"
                                                                                   rel="start">2</a>&nbsp;<a
                href="/project/list?page=3">3</a>&nbsp;<a href="/project/list?page=2" rel="next">下一页</a>&nbsp;&nbsp;<a
                href="/project/list?page=1650">最后一页</a></div>
    </div>
</div>
<div class="pop favor_box" id="mark_favor_box">
    <h4>收藏成功</h4>
    <dl>
        <dt>备注</dt>
        <dd>
            <input type="text" name="favorites_memo"/>
            <input type="hidden" name="favorites_id" id="favorites_id"/>
        </dd>
    </dl>
    <input type="button" id="submit_info" value="保存设置"/>
    <input type="button" id="mark_after" value="以后再说"/>
    <input type="hidden" name="mark_name" id="mark_name" value="prj"/>
</div>
<!-- footer -->

<div id="tmpboxdiv"></div>
<div class="footer">
    <div class="wrap">
        <ul class="site_info">
            <li>
                <a href="http://www.csto.com/about">了解CSTO</a> | <a href="http://www.csto.com/info">CSTO资讯</a> | <a
                    href="http://www.csto.com/help">帮助中心</a> | <a href="http://www.csto.com/about/contact">联系我们</a> | <a
                    href="http://www.csto.com/about/partners">合作伙伴</a> <span class="weibo_box"> <a
                    href="http://weibo.com/imcsto" title="CSTO新浪微博" target="_blank" class="weibo_sina"> </a> <a
                    href="http://t.qq.com/imcsto" title="CSTO腾讯微博" target="_blank" class="weibo_qq"> </a> </span></li>

            <li>北京创新乐知信息技术有限公司 京ICP证070598号</li>
            <li>网站备案号 京公网安备 11010502023254 京公网安备 11010502023255</li>
            <li>Copyright © 2012, CSTO.COM, csdnstore.com, All Rights Reserved</li>
        </ul>
        <ul class="contact">
            <li class="email">E-Mail：<a href="mailto:cstoservice@csdn.net">cstoservice@csdn.net</a></li>
            <li class="tel">电话：010-64351425</li>
            <li class="qq">QQ：2583031542</li>
            <li class="feedback"></li>
        </ul>
    </div>
</div>

<!-- //footer -->

<span class="hide">
	<script type="text/javascript">document.write("<img src=http://counter.csdn.net/pv.aspx?id=543 border=0 width=0 height=0>");</script>
	<script type="text/javascript"> new Image().src = "http://bss.csdn.net/monitor_interface/add_monitor?id=1";</script>
	<script type="text/javascript" src="http://www.csto.com/js/tracking.js?3.0"></script>
</span>

</body>
</html>
