<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>找人才</title>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/page/project.css">

    <link href="/css/page/cus.css" rel="stylesheet" type="text/css"/>
    <link href="/css/page/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/css/page/style2.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>

    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../../js/page/project.js"></script>

</head>
<body id="body">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Match Us</a>
            <a class="navbar-brand" href="../../view/page/project.html">找项目</a>
            <a class="navbar-brand" href="../../view/page/team.html">找团队</a>
            <a class="navbar-brand" href="../../view/page/talent.html">找人才</a>
            <a class="navbar-brand" href="../../view/page/user.html">个人中心</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="login" data-toggle="modal" data-target="#userlogin">登陆</a></li>
                <li><a href="#" id="sign_in" data-toggle="modal" data-target="#usersignin">注册</a></li>
                <li><a href="#" id="help">帮助</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="大牛，项目...">
            </form>
        </div>
    </div>
</nav>
<hr>
<hr>
<div class="container marketing">
    <div id="select_option_div">
        <div id="select_title_div">
            <span class="select_title">筛选：</span>
        </div>
        <hr style="margin-right: 5%">

        <div id="select_detail_div">
            <div class="#">
                <span class="select_text">类目：</span>

                <div class="btn-group project-kind">
                    <button type="button" class="btn btn-primary both">全部</button>
                    <button type="button" class="btn btn-default">移动开发</button>
                    <button type="button" class="btn btn-default">网站建设</button>
                    <button type="button" class="btn btn-default">企业软件</button>
                    <button type="button" class="btn btn-default">视觉设计</button>
                    <button type="button" class="btn btn-default">文案设计</button>
                    <button type="button" class="btn btn-default">嵌入式开发</button>
                </div>
            </div>
            <br>

            <div class="#">
                <span class="select_text">模式：</span>

                <div class="btn-group project-mode">
                    <button type="button" class="btn btn-default">全部</button>
                    <button type="button" class="btn btn-default">外包</button>
                    <button type="button" class="btn btn-primary">比赛</button>
                    <button type="button" class="btn btn-default">其他</button>
                </div>
            </div>
            <br>

            <div class="#">
                <span class="select_text">技术：</span>

                <div class="btn-group project-skills">
                    <button type="button" class="btn btn-default">全部</button>
                    <button type="button" class="btn btn-default">Java</button>
                    <button type="button" class="btn btn-primary">C/C++</button>
                    <button type="button" class="btn btn-default">Html/Css/Js</button>
                    <button type="button" class="btn btn-default">python</button>
                    <button type="button" class="btn btn-default">PHP</button>
                    <button type="button" class="btn btn-default">Ruby</button>
                    <button type="button" class="btn btn-default">Linux</button>
                    <button type="button" class="btn btn-default">MySql</button>
                    <button type="button" class="btn btn-default">C#</button>
                    <button type="button" class="btn btn-default">iOS</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="projects">
        <ul class="projects-index clearfix">
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>C/C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;java</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>C/C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PHP</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>python&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;java</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>MySql&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ruby</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>C/C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;java</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>C/C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;java</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>C/C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;java</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>C/C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;java</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>C/C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;java</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../../view/page/user.html">
                    <div class="projects-img">
                        <img src="../../image/ini/kk.jpg" alt="">
                    </div>
                    <div class="projects-info clearfix">
                        <p>喜欢的话：技术改变世界</p>
                        <span class="l">平均报酬1000</span>
                        <span class="r">平均完成时间7天</span>
                    </div>
                    <div class="projects-subinfo clearfix">
                        <h2>C/C++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;java</h2>
                        <span class="l">5项目已完成</span>
                        <span class="r">296人关注</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>
<div id="footer">
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>

        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
<script type="text/javascript" defer="defer">
    var btn = document.getElementsByClassName("btn btn-default");
    for (var i = 0; i < btn.length; i++) {
        btn[i].addEventListener('click', changeColor, false);
    }
    var btn_p = document.getElementsByClassName("btn btn-primary");
    for (var j = 0; j < btn_p.length; j++) {
        btn_p[j].addEventListener('click', changeColor, false);
    }
</script>
</body>
</html>
